[Unit]
Description=showing docker with systemd-notify support

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=10
ExecStart=/home/bcsaller/Projects/sdnotify-proxy/dockersd %N notify_tester:latest

[Install]
WantedBy=default.target
