[Unit]
Description=showing docker with systemd-notify support

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=10
ExecStart=/usr/local/bin/dockersd %N notify_tester:latest

[Install]
WantedBy=default.target
